@import '../../../styles/variables';
@import '../../../styles/mixins';

.weather-widget {
  width: 400px;
  height: 200px;
  background-color: $color-orange;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &__title {
    @include title();
    margin-top: 15px;
  }

  &__water {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    letter-spacing: .03em;
  }

}

.widget-temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: space-around;

  &__degrees {
    font-size: 30px;
    color: white;
    font-weight: 400;
    margin-top: 5px;
  }

}
