<div class="footer">
  <div class="footer__block">
    <div class="footer__title">Want to Work with Us?</div>
    <div class="footer__description">
      Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente food truck fanny pack farm-to-table. Culpa keytar esse tilde hoodie, art party nostrud messenger bag authentic helvetica kinfolk cred eu affogato forage.
    </div>
  </div>

  <div class="footer__company">
    <div class="footer__title">Company</div>
    <ul class="footer__list">
      <li>About Us </li>
      <li>Careers</li>
      <li>Privacy Policy</li>
      <li>Contact Us</li>
    </ul>
  </div>

  <div class="footer__email">
    <div class="footer__title">Email Newsletters</div>
    <div class="footer__description">Sign up for new MaterialWrap content, updates, and offers.</div>
    <input class="footer__search" placeholder="Enter your email address">
    <button class="footer__button">Icon</button>
  </div>

  <div class="footer__copyright">
    &copy; Copyright MaterialWrap - All Rights Reserved
  </div>

</div>



