@import '../../../styles/variables';
@import '../../../styles/mixins';

.social-info {
  width: 400px;
  height: 300px;
  background-color: $color-purple;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px 0;
  }

  &__img-picture {
    position: relative;
    width: 210%;
    height: 100%;
  }

  &__title {
    @include title();
  }
}

.social-count {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__followers {
    color: white;
  }
}
