@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  display: flex;
  flex: 1 1 0;
  margin-left: 25px;
}

.profile-about {
  background-color: white;
  border: 1px solid $color-border;
  padding: 12px 24px;

  &__title {
    @include text();
    font-size: 20px;
    margin: 10px 0;
  }

  &__content {
    @include text();
    font-size: 15px;
    padding: 10px 0;
    color: $color-text-light;
  }
}
