<div class="profile-about">

  <span class="profile-about__title">About Mike Jones</span>

  <div class="profile-about__content">
    Cray distillery tumeric taxidermy 90's meggings. Street art you probably haven't heard of them shabby chic, selvage woke mlkshk stumptown single-origin coffee irony master cleanse wayfarers truffaut seitan plaid disrupt. Asymmetrical slow-carb 3 wolf moon pabst, pork belly tacos actually subway tile chartreuse etsy truffaut butcher kinfolk. Listicle waistcoat migas 90's, biodiesel 8-bit you probably haven't heard of them. Literally godard green juice, forage cronut tilde crucifix jean shorts occupy put a bird on it. Heirloom hoodie poke, synth authentic vinyl kogi mumblecore affogato artisan readymade enamel pin. Seitan four loko helvetica hammock.
  </div>

  <div class="profile-about__content">
    Copper mug drinking vinegar hexagon pitchfork. Raw denim banjo trust fund unicorn, bushwick marfa kinfolk small batch poke. Freegan man bun kogi fingerstache, mumblecore trust fund selvage live-edge celiac. Pug succulents roof party, flannel selfies raclette iceland ugh artisan plaid.
  </div>

</div>
