<ul class="menu">
  <li class="menu__list">
    <a class="menu__list-link"
       routerLink=""
       routerLinkActive="active">
      Home
    </a>
  </li>
  <li class="menu__list">
    <a class="menu__list-link">News</a>
  </li>

  <li class="menu__list menu__list-dropdown">
    <a class="menu__list-link">Dropdown</a>

    <ul class="menu__inside">
      <li class="menu__inside-list">
        <a class="menu__inside-list-link">Adress</a>
      </li>
      <li class="menu__inside-list">
        <a class="menu__inside-list-link">Phone</a>
      </li>
      <li class="menu__inside-list">
        <a class="menu__inside-list-link">Email</a>
      </li>
    </ul>

  </li>

  <li class="menu__search">
    <input class="menu__search--input" [placeholder]="placeholder" (input)="search($event.target.value)">
  </li>

  <li class="menu__list">
    <a class="menu__list-link-avatar">
      <img src="assets/img/avatar.jpg" alt="Avatar" class="menu__avatar">
      <span>Mike Jones</span>
    </a>
  </li>

</ul>
