$color-footer: #28bebd;
$color-wrapper-list: rgba(178, 213, 249, 0.27);
$color-sidebar: #22303D;
$color-link-text: #91a6bb;
$color-menu: #ffffff;
$color-menu-link: #688696;
$color-white: #ffffff;
$color-link-hover: #1D2832;
$color-menu-text: #688696;
$color-shadow: rgba(183, 204, 241, 0.3);
$color-menu-hover: #F5F9FB;

$color-border-input: #b6bdcd;
$color-border: #E6EDF1;

$transition: all .3s ease;
$color-green: #29BDBD;
$color-pink: #EC417A;

$color-text: #516173;
$color-text-light: #607188;
$color-text-placeholder: #bbc2d7;

$default-shadow: 0 0 5px $color-shadow;
$shadow-bottom: 0 8px 20px rgba(125, 137, 167, 0.51);

$shadow-button-pink: 0 1px 10px rgba(236, 65, 122, 0.32);
$shadow-button-pink-hover: 0 4px 10px rgba(236, 65, 122, 0.32);

$shadow-button-green: 0 1px 10px rgba(41, 189, 189, 0.4);
$shadow-button-green-hover: 0 4px 10px rgba(41, 189, 189, 0.4);
