@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  background-color: $color-sidebar;
  width: 20%;
  font-size: 14px;
}

.sidebar {
  background-color: $color-sidebar;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 0;
  position: fixed;
  width: 20%;
}

.sidebar-title {
  list-style-type: none;

  &__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    background-color: #1D2832;
    padding: 15px 5px;
    font-weight: 300;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    line-height: 1.5;
  }
  &__logo {
    width: 25px;
    height: 25px;
    padding: 0 10px;
  }
}

.sidebar-menu {
  list-style-type: none;
  padding: 1px 5px;
  margin-top: 80px;
  &__link {
    display: block;
    text-decoration: none;
    color: $color-link-text;
    font-weight: 100;
    padding: 10px 50px 10px 10px;
    border-radius: 4px;
    margin: 1px 0;
    &:hover {
      @include active-sidebar-link();
      transition: $transition;
    }
  }
  .active {
    @include active-sidebar-link();
  }
}
