<menu class="menu" [placeholder]="placeholder" (mySearch)="text=$event"></menu>

<div *ngIf="products$ | async as products; else loadGif">

  <sub-menu>
    <sub-menu-navigate [title]="'Profile'"></sub-menu-navigate>
  </sub-menu>

  <div class="container">

    <profile>
      <ng-template #profile>
        <profile-count></profile-count>
      </ng-template>
    </profile>
    <profile-about></profile-about>

  </div>

  <div class="container-card">

    <div *ngFor="let product of products | productsFilter:text; index as i; odd as isOdd">
      <app-card [product]="product" [position]="i+1" [isOdd]="isOdd"></app-card>
    </div>

  </div>

</div>

<ng-template #loadGif>
  <div class="loader"></div>
</ng-template>
