@import '../../../styles/variables';

.container {
  padding: 80px 24px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-card {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.loader {
  height: 2px;
  width: 2px;
  background-color: red;
  transition: $transition;
  animation: pre-loader 2s ease-in-out infinite;
}

@keyframes pre-loader {
  from {
    width: 2px;
  }
  to {
    width: 100%;
  }
}
