@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  background-color: white;
  padding: 70px 10px 30px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid $color-border;

  &-info {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include text();
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
  }

  &__position {
    @include text();
    color: $color-menu-link;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    left: 80px;
    bottom: 160px;
    box-shadow: $shadow-bottom;
  }

  &__connect {
    padding: 10px 40px;
    background-color: $color-pink;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .03em;
    font-size: 14px;
    box-shadow: $shadow-button-pink;
    &:hover {
      box-shadow: $shadow-button-pink-hover;
      transition: $transition;
      cursor: pointer;
    }
  }
}
