@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  display: flex;
}

.weather-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 500px;
  padding: 24px;
  box-sizing: border-box;

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid $color-purple;
    overflow: hidden;
  }

  &__img-picture {
    position: relative;
    width: 210%;
    height: 100%;
  }

}

.weather-contacts {
  display: flex;
  flex-direction: column;

  &__address {
    @include text();
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
  }

  &__phone {
    @include text();
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    background-color: $color-green;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    margin: 8px 0;
  }

  &__title {
    @include text();
  }
}
