@import '../../../styles/variables';

:host {
  display: flex;
}

.weather-block {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  padding: 12px;
  box-sizing: border-box;

  &__img {
    position: relative;
  }

  &__img-source {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__address {
    display: flex;
    flex-direction: row;
  }

  &__type {
    display: flex;
    flex-direction: row;
  }
}
