<div class="profile-count">

  <div class="profile-count__post">
    <span class="profile-count__post-count">250</span>
    <span class="profile-count__post-type">Post</span>
  </div>

  <div class="profile-count__post">
    <span class="profile-count__post-count">1.5m</span>
    <span class="profile-count__post-type">Followers</span>
  </div>

  <div class="profile-count__post">
    <span class="profile-count__post-count">627</span>
    <span class="profile-count__post-type">Following</span>
  </div>

</div>
