@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.weather {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 4px;

  &__img {
    width: 500px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }

  &__type-list {
    @include reset();
    @include text();
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 0;
    background-color: $color-list;
    color: $color-light-blue;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  &-list {
    padding: 12px;
    background-color: white;
    overflow: scroll;
    height: 215px;
  }

}
